{{ define "getColumnContent" }}
    {{ $column := $.Scratch.Get "contentColumn" }}
    {{ $pipe := . }}
    {{ range $ce_uid := index .Params (printf "col_%s" (string $column)) }}
        {{ $potencialLanguageIndex := printf "%s%s" $ce_uid (cond (eq $.Lang "en") "" (printf ".%s" $.Lang)) }}
        {{ $index := cond (fileExists (printf "data/content/%s.yaml" $potencialLanguageIndex)) $potencialLanguageIndex (cond (fileExists (printf "data/content/%s.yaml" $ce_uid)) $ce_uid nil) }}
        {{ if eq $index nil }}
                {{ partial "content-data-file-not-found" $ce_uid }}
            {{ else }}
                {{ $ce_data := index $.Site.Data.content $index }}
                {{ $ce_name := (printf "content-%s" $ce_data.type) }}
                {{ $.Scratch.Set "ce_data" $ce_data }}
                {{ $.Scratch.Set "ce_name" $ce_name }}
                {{ $.Scratch.Set "ce_uid" $ce_uid }}
                {{ partial $ce_name $pipe }}
        {{ end }}
    {{ end }}
{{ end }}
<!doctype html>
<html lang="{{ $.Lang }}">
{{ partial "head" . }}
<body>
{{ partial "header" . }}
{{ block "main" . }} {{ end }}
{{ partial "footer" . }}
</body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
</html>