<!doctype html>
<html lang="{{ $.Lang }}">
<head>
    {{ block "head-meta" . }}
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    {{ end }}

    {{ block "head-title" . }}
        <title>{{ .Title }}</title>
    {{ end }}

    {{ block "head-og" . }}
        <meta property="og:type" content="business.business">
        <meta property="og:title" content="{{ .Title }}">
        <meta property="og:url" content="{{ .Permalink | relURL }}">
    {{ end }}

    {{ block "head-css" . }}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    {{ end }}
</head>
<body>

{{ block "header" . }} {{ partial "header/header" . }} {{ end }}
{{ block "main" . }} {{ end }}
{{ block "footer" . }} {{ partial "footer/footer" . }} {{ end }}
</body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
</html>