{{ $pipe := . }}
{{ range $.Scratch.Get "contentElements" }}
        {{ $ceId := string . }}
        {{ $potencialLanguageIndex := printf "%s%s" $ceId (cond (eq $.Lang "en") "" (printf ".%s" $.Lang)) }}
        {{ $index := cond (fileExists (printf "data/content/%s.yaml" $potencialLanguageIndex)) $potencialLanguageIndex (cond (fileExists (printf "data/content/%s.yaml" $ceId)) $ceId nil) }}
        {{ if eq $index nil }}
                {{ partial "content/helpers/data-file-not-found" $ceId }}
            {{ else }}
                {{ $ceData := index $.Site.Data.content $index }}
                {{ $publishDate := time (default "1000-01-01T00:00:00Z" $ceData.publishDate) }}
                {{ $expireDate := time (default "9999-09-01T00:00:00Z" $ceData.expireDate) }}
                {{ if and ($publishDate.Before now) ($expireDate.After now) }}

                    {{ $ceDataTmp := $.Scratch.Get "ceData" }}
                    {{ $ceNameTmp := $.Scratch.Get "ceName" }}
                    {{ $ceIdTmp := $.Scratch.Get "ceId" }}
                    {{ $contentElementsTmp := $.Scratch.Get "contentElements" }}

                    {{ $ceName := $ceData.type }}
                    {{ $.Scratch.Set "ceData" $ceData }}
                    {{ $.Scratch.Set "ceName" $ceName }}
                    {{ $.Scratch.Set "ceId" $ceId }}

                    {{ partial (printf "content/%s" $ceName) $pipe }}

                    {{ $.Scratch.Set "ceData" $ceDataTmp }}
                    {{ $.Scratch.Set "ceName" $ceNameTmp }}
                    {{ $.Scratch.Set "ceId" $ceIdTmp }}
                    {{ $.Scratch.Set "contentElements" $contentElementsTmp }}
                {{ end }}
        {{ end }}
{{ end }}
