{{ $ceId := $.Scratch.Get "ceId" }}
{{ $ceData := $.Scratch.Get "ceData" }}
{{ $ceName := $.Scratch.Get "ceName" }}

<div class="section ce-{{$ceId}} mt-0 mb-4 {{ $ceData.sectionClasses }}">
    {{ partial "ce--section-header" $ceData }}

    {{ if eq $ceName "ce-grid2col" }}
        {{ template "ce-grid2col" . }}
    {{ end }}

    {{ if eq $ceName "ce-text" }}
        {{ template "ce-text" . }}
    {{ end }}

    {{ if eq $ceName "ce-card" }}
        {{ template "ce-card" . }}
    {{ end }}

    {{ if eq $ceName "ce-faq1" }}
        {{ template "ce-faq1" . }}
    {{ end }}
</div>
