{{ define "getColumnContentGrid" }}

{{ $ceData := .Scratch.Get "ceData" }}
{{ $pipe := . }}
{{ $columnData := (index $ceData.columns (string $ceData.column)) }}
{{ range $columnData.contentElements }}
    {{ $ceId := string . }}
    {{ $potencialLanguageIndex := printf "%s%s" $ceId (cond (eq $.Lang "en") "" (printf ".%s" $.Lang)) }}
    {{ $index := cond (fileExists (printf "data/content/%s.yaml" $potencialLanguageIndex)) $potencialLanguageIndex (cond (fileExists (printf "data/content/%s.yaml" $ceId)) $ceId nil) }}
    {{ if eq $index nil }}
            {{ partial "ce--data-file-not-found" $ceId }}
        {{ else }}
            {{ $ceData := index $.Site.Data.content $index }}
            {{ $publishDate := time (default "1000-01-01T00:00:00Z" $ceData.publishDate) }}
            {{ $expireDate := time (default "9999-09-01T00:00:00Z" $ceData.expireDate) }}
            {{ if and ($publishDate.Before now) ($expireDate.After now) }}

                {{ $ceDataPrev := $.Scratch.Get "ceData" }}
                {{ $ceNamePrev := $.Scratch.Get "ceName" }}
                {{ $ceIdPrev := $.Scratch.Get "ceId" }}

                {{ $ceName := (printf "ce-%s" $ceData.type) }}
                {{ $.Scratch.Set "ceData" $ceData }}
                {{ $.Scratch.Set "ceName" $ceName }}
                {{ $.Scratch.Set "ceId" $ceId }}
                {{ $.Scratch.Set "columnData" $columnData }}

                {{ partial $ceName $pipe }}

                {{ $.Scratch.Set "ceData" $ceDataPrev }}
                {{ $.Scratch.Set "ceName" $ceNamePrev }}
                {{ $.Scratch.Set "ceId" $ceIdPrev }}
            {{ end }}
    {{ end }}
{{ end }}


{{ end }}