{{ define "ce-card" }}

    {{ $ceData := $.Scratch.Get "ceData" }}
    {{ $mediaStorage := .Site.GetPage "page" "_media" }}

    <div class="card" >
        <div class="card-body">
            {{ $cardImage := $mediaStorage.Resources.GetMatch (string $ceData.cardImage) }}
            {{ with $cardImage.Fill "286x180" }}
                <img class="card-img-top" src="{{ .Permalink }}" title="{{ .Title }}" alt="{{ .Params.alt }}" width="{{ .Width }}" height="{{ .Height }}">
            {{ end }}
            <h5 class="card-title">{{ $ceData.cardTitle }}</h5>
            <p class="card-text">{{ $ceData.cardText }}</p>
            <a href="{{ $ceData.cardButtonLink }}" class="btn btn-primary">{{ $ceData.cardButtonText }}</a>
        </div>
    </div>

{{ end }}
{{ partial "ce--section" . }}
