{{ define "ce-grid2col" }}
{{ partial "ce--content-column" . }}
{{ $ceData := .Scratch.Get "ceData" }}
    <div class="row">
        {{ $col0Classess := default "col-md-6" $ceData.columns.col0.classes }}
        <div class="{{ $col0Classess }}">
            {{ $.Scratch.Set "contentElements" (index $ceData.columns "col0").contentElements }}
            {{ template "getColumnContent" . }}
        </div>
        {{ $col1Classess := default "col-md-6" $ceData.columns.col1.classes }}
        <div class="{{ $col1Classess }}">
            {{ $.Scratch.Set "contentElements" (index $ceData.columns "col1").contentElements }}
            {{ template "getColumnContent" . }}
        </div>
    </div>
{{ end }}
{{ partial "ce--section" . }}
