{{ define "faq2" }}
{{ with $.Scratch.Get "ce_data" }}
<div class="m-faq-2">
    <ul class="m-faq-special__list panel-group" id="accordion">
        {{ range $index, $value:= .questions }}
        <li class="m-faq-special__list-item panel">
            <a href="#content-{{ $index }}" class="m-faq-special__title collapsed" data-toggle="collapse"
               data-parent="#accordion" aria-expanded="false" aria-controls="content-1">
                <strong>{{ .question }}</strong>
                <div class="m-faq-special__expand">
                    <i class="fa fa-angle-right"></i>
                </div>
            </a>
            <div id="content-{{ $index }}" class="panel-collapse collapse">
                <div class="m-faq-special__content">
                    <p>
                        {{ .answer | safeHTML }}
                    </p>
                </div>
            </div>
        </li>
        {{ end }}
    </ul>
</div>
{{ end }}
{{ end }}
{{ partial "content-section" . }}
