<header>
    <nav class="navbar navbar-expand-md navbar-light bg-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        {{ partial "header/header-menumain" . }}
        {{ partial "header/header-menulang" . }}
    </nav>
    {{ partial "header/header-breadcrumb" . }}
</header>